* {
  margin: 0px;
  padding: 0px;
}

@media only screen and (max-width: 600px) {
  .text-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 20%;
    font-size: 0.8rem;
    padding: 0;
  }
}
/*empleados agregar*/
* {
  box-sizing: border-box;
}
input[type="text"],
[type="number"],
[type="email"],
[type="tel"],
[type="file"],
[type="button"],
select,
textarea {
  width: 100%;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

label {
  display: inline-block;
  margin: 0;
}

input[type="submit"] {
  background-color: #494949;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-left: 1rem;
}

input[type="submit"]:hover {
  background-color: #2b2a2a;
}
/*idPedido, idUsuario y Estado*/

.container2 {
  border-radius: 5px;
  background-color: #8d8a8aa8;
  padding: 4.5rem 2rem 8rem 2rem;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
.formulario {
  margin: 1rem 1rem;
}
/*Tabla visualizar empleados*/
.table-container {
  padding-bottom: 3rem;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #dddbdb8e;
}
/*zona productos*/
::-webkit-file-upload-button {
  /*edicion subir imagen*/
  color: rgb(48, 197, 165);
  padding: 0.5em;
  resize: none;
}

/*botones*/
button {
  padding: 0.5rem;
}
/*B editar*/
.b-editar {
  background-color: #494949;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}
.b-editar:hover {
  background-color: #2b2a2a;
}
/*B eliminar*/
.b-eliminar {
  background-color: #494949;
  border: none;
  color: white;
  margin-left: 1rem;
}
.b-eliminar:hover {
  background-color: #2b2a2a;
  border: none;
  color: white;
}
.b-agregar {
  float: right;
  padding: 0.8rem;
}

/*carrito*/
.area-work {
  display: flex;
}
.table-area {
  margin-right: 1rem;
  flex: 2;
}
.form-area {
  flex: 1;
}
@media only screen and (max-width: 600px) {
  .area-work {
    display: flex;
    flex-direction: column;
  }
}
