* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: "Varela Round", sans-serif;
    background-color: #fbda61;
    background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
}

.nav-var {
    display: flex;
    justify-content: space-between;
    background-color: #67677a94;
    padding: 0.7rem;
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

.log-area {
    display: flex;
    flex: 1;
}

.img-logo {
    max-width: 50%;
}

.log-area a {
    display: flex;
    justify-content: flex-end;
}

.nav-text {
    display: flex;
    justify-content: space-between;
    margin: 0rem 1rem 0rem 1rem;
    flex: 10;
    align-items: center;
}

.link{
    text-decoration: none;
    color: #fff;
}

.nav-text1 {
    margin: 0rem 1rem;
    color: #fff;
}

.nav-text2 {
    margin: 0rem 1rem;
    color: #fff;
}

.nav-text3 {
    margin: 0rem 1rem;
    color: #fff;
}

.nav-text4 {
    margin: 0rem 1rem;
}

.nav-log-in {
    flex: 1;
}

/*
===========================================================================
================================ NUEVO CODIGO =============================
===========================================================================
*/
.usuario a{
    text-decoration: none;
    color: inherit;
}

.usuario{
    padding: 0.6rem 1.2rem;
    display: flex;
    align-items: center;
    position: relative;
}

.usuario_btnIconos{
    size: 45px;
    width: 45px;
    height: 45px;
    
    border-radius: 50%;
    background-color: #081F46;
    
    padding: 0.6rem 0.3rem;
    z-index: 10;
    cursor: pointer;
    
    box-shadow: 3px 7px 7px rgba(0 0 0 / 22%);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.iconoNavegacion{
    display: block;
    width: 60%;
    height: 2px;
    
    background-color: #fff;
    transition: transform 0.25s;
}

.usuario_btn{
    display: none;
}

/*
ANIMACIONES

deg: Grados
*/

.usuario_btn:checked + .usuario_btnIconos .iconoNavegacion:first-child{
    transform: translateY(8px) rotate(45deg);
}

.usuario_btn:checked + .usuario_btnIconos .iconoNavegacion:nth-of-type(2){
    transform: scale(0);
}

.usuario_btn:checked + .usuario_btnIconos .iconoNavegacion:last-child{
    transform: translateY(-8.6px) rotate(-45deg);
}

.usuario_Caja{
    height: 100%;
    width: 85px;
    box-shadow: 0 0 20px #fff;
    border-radius: 3px; 
    position: absolute;
    left: 0; /*Se posiciona del lado izquierdo hacia la derecha 0px*/
    top: 0; /*Se posiciona desde arriba hacia abajo 0px*/ 
    transition: transform 0.4s;
}

.usuario_btn:checked ~ .usuario_Caja{
    transform: translateX(-175px);
    width: 260px;
    box-shadow: 0 0 0px;
}

.usuarioMenu{
    position: absolute;
    left: 0;
    top: 100%;
    display: flex;
    flex-direction: column;

    background: #081F46;
    color: #fff;
    
    padding: 2rem;
    font-weight: 300;
    box-shadow: 3px 7px 7px rgba(0 0 0 / 22%);
    
    width: 260px;
    transform: scaleY(0);
    transition: transform 0.5s;
    transform-origin: top;
}

.usuarioMenu_Label{
    margin-bottom: 2rem;
}

.usuarioMenu_Link{
   margin-bottom: 2rem;
}

.usuarioMenu_Link:hover{
    background-color: #243E68;
}

.usuario_btn:checked ~ .usuarioMenu{
    transform: scaleY(1) translateX(-175px) translateZ(15px);
    box-shadow: 0 0 20px #fff;
    
}

.cad-tittle {
    color: white;
    background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
        linear-gradient(
        to top,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.25) 200%
        );
    background-blend-mode: multiply;
    max-width: 30vh;
    padding: 0.5rem;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
}
.card {
    background-color: rgba(231, 230, 230, 0.767);
}
select {
    width: 100%;
    padding: 8px 16px;
    display: inline-block;
    border: 0.2rem solid #ccc;
    box-sizing: border-box;
    border-radius: 0.3rem;
}

.footer {
    padding: 2rem 0rem 2rem 0rem;
    margin-top: 1rem;
    color: white;
    background-color: #0f0e3e2f;
    display: flex;
    justify-content: space-evenly;
    border-radius: 0.5rem 0.5rem 0 0;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.footer_2 {
    flex: 1;
}

.footer_3 {
    flex: 1;
}

.footer_4 {
    flex: 1;
}

.footer_1 img {
    max-width: 50%;
}

.footer_2t {
    font-size: 1.3rem;
}

.footer_3t {
    font-size: 1.3rem;
}

.footer_4t {
    font-size: 1.3rem;
}

.navbar-brand {
    color: rgb(255, 255, 255);
}

#link {
    text-decoration: none;
    color: white;
}

.contenedorProducto{
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: space-around;
    align-content: space-between;

}

.contenidoP{
    width: 20%;
    display: flex;

    margin: 15px;

}

.contenidoP img{
    height: 30%;
}

@media only screen and (max-width: 600px) {
    .nav-var {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-height: 20%;
        font-size: 0.8rem;
    }
    .nav-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nav-log-in {
        margin: auto;
    }
    .log-area {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .log-area a {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 50%;
    }
    
    .contenidoP{
                width: 100%;
                height: 100%;
                display: flex;
                margin-bottom: 15px;
    }
    
    .cad-tittle{
        max-width: 50vh;
    }
    
    /*
    ==========================================================================
    ============================== NUEVO CODIGO ==============================
    ==========================================================================
    */
    .usuario{
        transform: translateX(80%);
    }
}

/*boton flotante*/
.btn-whatsapp {
    display: block;
    max-width: 30%;
    max-height: 30%;
    color: #fff;
    position: fixed;
    right: 30px;
    bottom: 60px;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    z-index: 999;
}
